# Replicate and extend Excel pivots on space utilization

In [1]:
import os
print(os.getcwd())

/Users/ranjitsapkota/Personal Files/Space Moddler/Data/Space_Utilization_and_booking_analytics/notebooks

### Imports and Paths

In [2]:
from adjustText import adjust_text
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter
import plotly
import openpyxl

raw_data = "../data/raw/space_utilisation_dataset.xlsx"
processed_data = "../data/processed"
FIG_DIR = Path("../reports/figs")

### Load Data

In [3]:
df_raw = pd.read_excel(raw_data)

In [4]:
df_raw.head()

,Room_ID,Campus,Building,Room_Type,Capacity,Day,Hours_Available,Hours_Used,Bookings,Avg_Attendance,Occupancy_Rate_%,Utilisation_Rate_%
0,BE-A001,Berwick,A,Lab,120,Mon,8,4.2,4,61,50.8,52.5
1,BE-A001,Berwick,A,Lab,120,Tue,8,6.4,6,77,64.2,80.0
2,BE-A001,Berwick,A,Lab,120,Wed,8,2.9,2,25,20.8,36.2
3,BE-A001,Berwick,A,Lab,120,Thu,8,2.3,2,32,26.7,28.7
4,BE-A001,Berwick,A,Lab,120,Fri,8,5.6,5,72,60.0,70.0

In [5]:
df_raw.tail()

,Room_ID,Campus,Building,Room_Type,Capacity,Day,Hours_Available,Hours_Used,Bookings,Avg_Attendance,Occupancy_Rate_%,Utilisation_Rate_%
295,MT-C060,Mt Helen,C,Tutorial Room,120,Mon,8,2.8,2,34,28.3,35.0
296,MT-C060,Mt Helen,C,Tutorial Room,120,Tue,8,3.1,3,31,25.8,38.8
297,MT-C060,Mt Helen,C,Tutorial Room,120,Wed,8,7.4,7,82,68.3,92.5
298,MT-C060,Mt Helen,C,Tutorial Room,120,Thu,8,6.0,6,53,44.2,75.0
299,MT-C060,Mt Helen,C,Tutorial Room,120,Fri,8,3.2,3,25,20.8,40.0

### Light Cleaning

In [6]:
df_raw.columns = (
    df_raw.columns
    .str.strip()
    .str.lower()
    .str.replace("%", "pct", regex=False)
    .str.replace(r"[^a-z0-9_]+", "_", regex=True)
    .str.replace(r"^_+|_+$", "", regex=True)
    
)
df_raw.columns.tolist()

['room_id',
 'campus',
 'building',
 'room_type',
 'capacity',
 'day',
 'hours_available',
 'hours_used',
 'bookings',
 'avg_attendance',
 'occupancy_rate_pct',
 'utilisation_rate_pct']

In [7]:
df_raw.dtypes

room_id                  object
campus                   object
building                 object
room_type                object
capacity                  int64
day                      object
hours_available           int64
hours_used              float64
bookings                  int64
avg_attendance            int64
occupancy_rate_pct      float64
utilisation_rate_pct    float64
dtype: object

In [8]:
float_cols = ["hours_available"]
string_cols = ["room_id", "campus", "building", "room_type", "day"]
pct_cols = ["occupancy_rate_pct", "utilisation_rate_pct"]

df_raw[string_cols] = df_raw[string_cols].astype("string")
df_raw[float_cols] = df_raw[float_cols].astype("float64")
df_raw[pct_cols] = df_raw[pct_cols].astype("float64") / 100

In [9]:
df_raw.dtypes

room_id                 string[python]
campus                  string[python]
building                string[python]
room_type               string[python]
capacity                         int64
day                     string[python]
hours_available                float64
hours_used                     float64
bookings                         int64
avg_attendance                   int64
occupancy_rate_pct             float64
utilisation_rate_pct           float64
dtype: object

### Sanity Checks

In [10]:
df_raw[['capacity', 'avg_attendance', 'hours_available', 'hours_used']].describe()

         capacity  avg_attendance  hours_available  hours_used
count  300.000000      300.000000            300.0   300.00000
mean    65.333333       31.040000              8.0     4.97500
std     34.865564       23.205748              0.0     1.82163
min     20.000000        3.000000              8.0     2.00000
25%     37.500000       14.000000              8.0     3.40000
50%     60.000000       24.500000              8.0     5.00000
75%    100.000000       39.000000              8.0     6.60000
max    120.000000      111.000000              8.0     8.00000

In [11]:
# Flags
bad_capacity = (df_raw['capacity'] <= 0)
overfilled = (df_raw['avg_attendance'] > df_raw['capacity'])
high_utils = (df_raw['utilisation_rate_pct'] > 1.0)

print("Number of Romms with 0 capacity:",bad_capacity.sum())
print("Number of instances where rooms have been overfilled, possible fire safety issue:", overfilled.sum())
print("Number of instances where room have been over utilization:", high_utils.sum())

Number of Romms with 0 capacity: 0
Number of instances where rooms have been overfilled, possible fire safety issue: 0
Number of instances where room have been over utilization: 0

In [12]:
df = df_raw.copy()

## Checks that mirror excel

In [13]:
by_room = (
    df.groupby('room_type', as_index=False)
      .agg(
          capacity_total=('capacity', 'sum'),
          hours_used_total=('hours_used', 'sum'),
          hours_avail_total=('hours_available', 'sum'),
          attendance_total=('avg_attendance', 'sum'),
          bookings_total=('bookings', 'sum')
      )
)

by_room['util_pct'] = by_room['hours_used_total'] / by_room['hours_avail_total']
by_room['cap_utilised_pct'] = by_room['attendance_total'] / by_room['capacity_total']

by_room = by_room.sort_values('util_pct', ascending=False).reset_index(drop=True)

by_room.head()

,room_type,capacity_total,hours_used_total,hours_avail_total,attendance_total,bookings_total,util_pct,cap_utilised_pct
0,Tutorial Room,5500,336.3,520.0,2668,305,0.646731,0.485091
1,Meeting Room,4400,326.9,520.0,2000,296,0.628654,0.454545
2,Lecture Hall,5350,466.6,760.0,2619,423,0.613947,0.489533
3,Lab,4350,362.7,600.0,2025,326,0.604500,0.465517

In [14]:
mean_capacity = df.groupby('room_type')['capacity'].mean()

by_room_day = (
    df.groupby(['room_type', 'day'], as_index=False)
      .agg(
          hours_used_total=('hours_used', 'sum'),
          hours_available_total=('hours_available', 'sum'),
          avg_attendance=('avg_attendance', 'mean')
      )
)

by_room_day['util_pct'] = by_room_day['hours_used_total'] / by_room_day['hours_available_total']

by_room_day['cap_utilised_pct'] = by_room_day['avg_attendance'] / by_room_day['room_type'].map(mean_capacity)

by_room_day = by_room_day.sort_values('util_pct', ascending=False).reset_index(drop=True)

by_room_day.head()

,room_type,day,hours_used_total,hours_available_total,avg_attendance,util_pct,cap_utilised_pct
0,Meeting Room,Fri,71.4,104.0,34.538462,0.686538,0.510227
1,Tutorial Room,Thu,70.5,104.0,45.846154,0.677885,0.541818
2,Tutorial Room,Tue,69.1,104.0,43.307692,0.664423,0.511818
3,Meeting Room,Thu,67.3,104.0,30.538462,0.647115,0.451136
4,Lecture Hall,Fri,98.0,152.0,28.000000,0.644737,0.497196

## KPIs

In [15]:
kpi = {
    'avg_util_pct': df['hours_used'].sum() / df['hours_available'].sum(),
    'avg_booking_frequency': df['bookings'].sum() / df['hours_available'].sum(),
    'avg_cap_util': df['avg_attendance'].sum() / df['capacity'].sum()
}
kpi

{'avg_util_pct': np.float64(0.621875),
 'avg_booking_frequency': np.float64(0.5625),
 'avg_cap_util': np.float64(0.4751020408163265)}

### Export tables for BI

In [16]:
outdir = Path(processed_data)

cols_keep = [
    "room_id","campus","building","room_type","day",
    "capacity","hours_available","hours_used","bookings","avg_attendance",
    "utilisation_rate_pct","occupancy_rate_pct"
]
df_export = df.loc[:, cols_keep].copy()

# NOTE: utilisation_rate_pct and occupancy_rate_pct are in 0–1 scale (not 0–100).

# by_room (aggregate)
by_room_export = by_room.copy()


by_room_export = by_room_export.rename(columns={
    "util_pct": "utilisation_pct",          # 0–1 scale
    "cap_utilised_pct": "seat_occupancy_pct" # 0–1 scale
})


# how often booked per available hour
by_room_export["booking_frequency"] = (
    by_room_export["bookings_total"] / by_room_export["hours_avail_total"]
)

# ---by_room_day (aggregate by room_type and day) ---
by_room_day_export = by_room_day.copy().rename(columns={
    "util_pct": "utilisation_pct",           # 0–1 scale
    "cap_utilised_pct": "seat_occupancy_pct" # 0–1 scale
})

# --- KPI table ---
kpi_export = (
    pd.DataFrame([{
        "avg_utilisation_pct": kpi["avg_util_pct"],          # 0–1 scale
        "avg_booking_frequency": kpi["avg_booking_frequency"],
        "avg_seat_occupancy_pct": kpi["avg_cap_util"]        # 0–1 scale
    }])
)

# ---Save CSVs ---
df_export.to_csv(outdir / "space_clean_row_level.csv", index=False)
by_room_export.to_csv(outdir / "space_by_room.csv", index=False)
by_room_day_export.to_csv(outdir / "space_by_room_day.csv", index=False)
kpi_export.to_csv(outdir / "space_kpis.csv", index=False)

# ---Save a single Excel with multiple sheets ---
with pd.ExcelWriter(outdir / "space_processed_tables.xlsx", engine="openpyxl") as writer:
    df_export.to_excel(writer, index=False, sheet_name="row_level")
    by_room_export.to_excel(writer, index=False, sheet_name="by_room")
    by_room_day_export.to_excel(writer, index=False, sheet_name="by_room_day")
    kpi_export.to_excel(writer, index=False, sheet_name="kpis")

print("Saved to:", outdir.resolve())

Saved to: /Users/ranjitsapkota/Personal Files/Space Moddler/Data/Space_Utilization_and_booking_analytics/data/processed

## Visualizations

### Capacity vs Attendance (bars) + Seat Occupancy % (line, secondary axis)

In [17]:
plot_df = by_room.sort_values("capacity_total", ascending=False).reset_index(drop=True)
x = np.arange(len(plot_df))
w = 0.36

fig, ax = plt.subplots(figsize=(10, 6))

# Bars (side-by-side)
cap_bar = ax.bar(x - w/2, plot_df["capacity_total"], width=w, label="Capacity (total)",
                 color="#9aa0a6", edgecolor="#5f6368")     # neutral grey
att_bar = ax.bar(x + w/2, plot_df["attendance_total"], width=w, label="Attendance (total)",
                 color="#1f77b4", edgecolor="#174e7a")     # blue accent

ax.set_ylabel("Seats / People")
ax.set_xticks(x)
ax.set_xticklabels(plot_df["room_type"], rotation=0)
ax.margins(x=0.02)

# Line on secondary axis
ax2 = ax.twinx()
line = ax2.plot(x, plot_df["cap_utilised_pct"], marker="o", linewidth=2.2,
                color="#ff7f0e", label="Seat occupancy (%)")  # orange
ax2.set_ylabel("Seat occupancy (%)")
ax2.yaxis.set_major_formatter(PercentFormatter(1.0))
ax2.set_ylim(0.4, 0.8)  # tighten to highlight range

# data labels on the line
for xi, yi in zip(x, plot_df["cap_utilised_pct"]):
    ax2.annotate(f"{yi*100:.1f}%", (xi, yi), textcoords="offset points",
                 xytext=(0, 8), ha="center", fontsize=9)

# Legend (combine bars + line)
h1, l1 = ax.get_legend_handles_labels()
h2, l2 = ax2.get_legend_handles_labels()
ax.legend(h1 + h2, l1 + l2, loc="upper left", frameon=False)

ax.set_title("Capacity vs Attendance by Room Type + Seat Occupancy (%)")
ax.grid(axis="y", linestyle=":", alpha=0.4)
fig.tight_layout()
fig.savefig(FIG_DIR / "space_capacity_attendance_combo.png", dpi=180)
plt.close(fig)

### Heatmap - Utilisation by Day and Room Type

In [18]:
day_order = ["Mon","Tue","Wed","Thu","Fri"]
tmp = by_room_day.copy()
tmp["day"] = pd.Categorical(tmp["day"], categories=day_order, ordered=True)
mat = tmp.pivot(index="room_type", columns="day", values="util_pct").reindex(columns=day_order)

fig, ax = plt.subplots(figsize=(9, 6))
im = ax.imshow(mat.values, aspect="auto", cmap="viridis", vmin=0.4, vmax=0.8)  # clamp range if helpful

ax.set_xticks(np.arange(mat.shape[1]))
ax.set_xticklabels(mat.columns)
ax.set_yticks(np.arange(mat.shape[0]))
ax.set_yticklabels(mat.index)

ax.set_xlabel("Day")
ax.set_ylabel("Room Type")
ax.set_title("Utilisation Heatmap (Room Type × Day)")

cbar = fig.colorbar(im, ax=ax, fraction=0.046, pad=0.04)
cbar.ax.yaxis.set_major_formatter(PercentFormatter(1.0))
cbar.set_label("Utilisation (%)")

for i in range(mat.shape[0]):
    for j in range(mat.shape[1]):
        val = mat.values[i, j]
        if np.isfinite(val):
            ax.text(j, i, f"{val*100:.0f}%", ha="center", va="center", fontsize=9, color="w")

for spine in ["top","right"]:
    ax.spines[spine].set_visible(False)

fig.tight_layout()
fig.savefig(FIG_DIR / "space_utilisation_heatmap.png", dpi=180)
plt.close(fig)

### Scatter - Capacity vs Attendance with 45° reference line

In [19]:
fig, ax = plt.subplots(figsize=(8, 6))

# Scatter points
ax.scatter(by_room["capacity_total"], by_room["attendance_total"], 
           s=60, color="#1f77b4", edgecolor="#174e7a")

# Diagonal parity line
mx = float(max(by_room["capacity_total"].max(), by_room["attendance_total"].max()))
ax.plot([0, mx], [0, mx], linestyle="--", color="#9aa0a6", linewidth=1.5, label="Parity (y=x)")

ax.set_xlim(0, mx * 1.05)
ax.set_ylim(0, mx * 1.05)

# Add labels to points
texts = []
for x, y, lab in zip(by_room["capacity_total"], 
                     by_room["attendance_total"], 
                     by_room["room_type"]):
    texts.append(ax.text(x, y, lab, fontsize=9))

# Auto-adjust labels so they don't overlap
adjust_text(texts, ax=ax, arrowprops=dict(arrowstyle='-', color='gray', lw=0.5))

# Labels and styling
ax.set_xlabel("Capacity (total)")
ax.set_ylabel("Attendance (total)")
ax.set_title("Capacity vs Attendance (Room Types)")
ax.grid(True, linestyle=":", alpha=0.4)
ax.legend(frameon=False)

fig.tight_layout()
fig.savefig(FIG_DIR / "space_scatter_capacity_vs_attendance.png", dpi=180)
plt.close(fig)

## 📊 Insights & Recommendations

---

### **Overall Performance**
- **Average utilisation** across all rooms: **62%** of available hours.  
- **Average seat occupancy**: **47.5%**.  
- **Booking frequency**: **0.56 bookings/hour** → significant idle time remains.

---

### **By Room Type**
- **Tutorial Rooms** – Highest utilisation (**64.7%**) and highest attendance; seat occupancy **48.5%**.  
- **Meeting Rooms** – Slightly above-average utilisation (**62.9%**) but lowest seat occupancy (**45.5%**).  
- **Lecture Halls** – Good utilisation (**61.4%**) and highest seat occupancy (**49%**).  
- **Labs** – Lowest utilisation (**60.4%**) and second-lowest occupancy (**46.6%**).

---

### **Day-of-Week Patterns**
- **Friday** and **Thursday** have peak utilisation for certain room types  
  - Meeting Rooms: **68.7%** on Friday  
  - Tutorial Rooms: **67.8%** on Thursday  
- **Tuesday** and **Wednesday** show relatively flat or lower utilisation.

---

## ✅ Recommended Actions

### **1. Optimise Room Allocation**
- Assign smaller rooms to classes with consistently low attendance to boost seat occupancy.  
- Use under-utilised room types (Labs, Meeting Rooms) for more general-purpose bookings.

### **2. Balance Timetable Load**
- Shift some high-demand sessions from peak days (Thu/Fri) into midweek to spread utilisation more evenly.

### **3. Increase Multipurpose Use**
- Repurpose idle space (e.g., Labs during off-hours) for workshops, staff training, or community events.

### **4. Set KPIs for Improvement**
- Target **≥70% utilisation** for peak days.  
- Increase **average seat occupancy** to **>60%** through better scheduling and allocation.